html {
    height: 100%;
    margin: 0;
    font-size: 16px;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/wow.png') no-repeat bottom center;
    background-size: cover;
    font-size: 1em;
}

h1 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.centered {
    font-family: 'Monserrat', sans-serif;
    padding: 0 3.125em;
    background: #f16059;
}

/***** MEDIA QUERIES *****/

@media screen and (min-width: 786px) {
    h1 {
      font-size: 3em;
    }
  }
   
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 4em;
    }
  }
